@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@400;500&display=swap");

* {
  font-family: "Comfortaa", cursive;
}
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body {
  overflow-y: hidden;
  color: wheat;
}
.container {
  width: 100vw;
  height: 100vh;
}
/* .guide {
  position: fixed;
  top: 0;
  left: 50px;
  color: slateblue;
} */
.btn {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  position: fixed;
  width: 250px;

  left: 38%;
  bottom: 20px;
}
.btn button {
  width: 100px;
  height: 40px;

  border: none;
  background-color: tomato;

  transform: scale(1.1);
  cursor: pointer;
}
.btn button:hover {
  background-color: cornflowerblue;
  transform: scale(1);
  transition: 0.3s ease-in-out;
}
section {
  display: flex;

  height: 100vh;
  width: 100vw;
}
#home .introduce {
  color: wheat;
  max-width: 50%;
}
.introduce h1 {
  margin-bottom: 50px;
  font-size: 30px;
  text-shadow: 50px -120px #80808015;
}
.introduce p {
  font-size: 20px;
  font-style: italic;
}
.introduce #social {
  display: flex;
  justify-content: right;

  width: auto;
  color: black;
}
#social .link__socical {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 50px;
  height: 50px;

  margin-right: 20px;
  margin-top: 20px;

  /* background-color: #ffffffd2; */
  color: white;
  border: 2px solid white;
  border-radius: 50%;

  list-style-type: none;
}
#social .link__socical:hover {
  transform: none;
  transition: 0.8s ease;
  background-color: black;
  font-size: 22px;
  color: white;
}
#social a {
  color: white;
}
#home img {
  height: 250px;
  width: 250px;

  border: wheat 3px solid;
  border-radius: 15px 50px 15px 50px;
  box-shadow: 20px 25px #00000071;
}
#skills {
  display: flex;
  align-items: center;
  justify-content: center;
}
.technical,
.professional {
  height: 90vh;
  width: 40vw;
}
#skills h1 {
  text-align: center;
}
.tech__content,
.pro__content {
  margin-top: 50px;
}
.tech__skill {
  margin-bottom: 25px;
  width: 90%;
}
.skill__top {
  display: flex;
  margin-bottom: 10px;
}
.skill__top .skill__name {
  width: 50%;
}
.skill__top .skill__percent {
  width: 50%;
  text-align: right;
}
.skill__bottom {
  height: 6px;
  width: 100%;

  border-radius: 30px;
  background-color: white;

  margin-bottom: 10px;
}
.skill__bottom .skill__bar {
  content: "";
  display: block;

  height: 6px;
  width: 80%;

  background-color: #0026ff;
  border-radius: 30px;
}
.skill__bar.p72 {
  width: 72%;
}
.skill__bar.p42 {
  width: 42%;
}
.skill__bar.p34 {
  width: 34%;
}

.skill__bar.p25 {
  width: 25%;
}
.pro__skill {
  width: 50%;
  height: 50%;

  margin-bottom: 50px;
  text-align: center;
  float: left;
}
.pro__skill .skill__top {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 100%;
}
.skill__top .percent {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 100px;
  height: 100px;

  color: black;
  font-weight: bolder;
  border-radius: 50%;
  background-color: #0026ff;
}
.percent::after {
  content: "80%";
  display: flex;
  justify-content: center;
  align-items: center;

  width: 90px;
  height: 90px;

  color: white;
  background-color: black;
  border-radius: 50%;
}
.pro__skill .skill__bottom {
  background: none;
}
section:first-child {
  justify-content: space-evenly;
  align-items: center;

  background: linear-gradient(to right bottom, #000000, #00000079),
    url(https://i.pinimg.com/originals/33/05/62/3305621b498a01f67087f67822f65fc5.jpg);
  background-size: cover;
  background-position: bottom;
}
section:nth-child(2) {
  background: linear-gradient(to right bottom, #000000, #00000079),
    url(https://zeeoii.com/wp-content/uploads/2020/07/stars-3840x2160-mountains-lake-5k-17391.jpg);
  background-size: cover;
  background-position: center;
}
section:nth-child(3) {
  background: linear-gradient(to right bottom, #000000, #00000079),
    url(http://wallup.net/wp-content/uploads/2017/11/17/185940-Yosemite_National_Park.jpg);
  background-size: cover;
  background-position: right;
}
section:nth-child(4) {
  background: linear-gradient(to right bottom, #000000, #00000079),
    url(https://img4.thuthuatphanmem.vn/uploads/2020/04/28/hinh-nen-thien-nhien-2k_014254842.jpg);
  background-size: cover;
  background-position: top;
}
section:last-child {
  background: linear-gradient(to right bottom, #000000, #00000079),
    url(https://uhdwallpapers.org/uploads/converted/18/02/20/best-view-from-yosemite-2560x1440_9565-mm-90.jpg);
  background-size: cover;
  background-position: top;
}
ul#scrollbar {
  position: fixed;
  top: 18%;
  right: 40px;

  list-style-type: none;
}
#scrollbar li {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 10px;
  height: 10px;

  margin-top: 50px;
  border: 2px wheat solid;
  border-radius: 50%;
  cursor: pointer;
}
#scrollbar li:hover,
li.active {
  background-color: wheat;
  transition: 0.5s ease-in-out;
}
.button__name {
  display: none;
  min-width: 70px;

  color: wheat;
  text-align: right;
  margin-right: 100px;
}
li:hover .button__name {
  display: block;
  color: wheat;
  transition: 1s ease;
}
